@font-face {
    font-family: "OpenSans";
    src: url(../../fonts/OpenSans-Regular.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Neucha";
    src: url(../../fonts/Neucha-Regular.ttf);
    font-weight: 700;
    font-style: normal;
}