.header {
    display: flex;
    justify-content: center;
    background-color: var(--color-light);
}

.container__header {
    position: relative;
}

.header__img {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
}

.header__items {
    display: flex;
    gap: 30px;
}

.items-width {
    width: calc(50% - 15px);
  }  

.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.header__button {
    background-color: var(--color-main);
    color: var(--color-white)
}

.header__h1 {
    color: var(--color-main);
    z-index: 1;
}

.header__span {
    color: var(--color-dark)
}