.navigation {
    background-color: var(--color-main-dark);
    background-size: cover; 
}

.cards-item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
}